.block-heading{
	padding-top: 80px;
	margin-bottom: 60px;
}

section input{
	margin: 10px;
}

h2{
	padding: 20px;
	text-align: center;
}
.profile-form{
	margin: 0px;
	padding: 0px;
}
SELECT{
  padding: 5px;
}
input.date{
  width:50px;
  padding: 5px;
}